

body{
    font-family: ProximaNova, Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin: 0;
}

h2{
    margin: 0;
    padding-bottom: 0.3em;
    border-bottom: thin #b3b3b3 dashed;
    color: #000;
    font-weight: normal;
}

.message{
    color: #5e5e5e;
}

.ui-widget-overlay{
    background-image: none;
}

/* head */

body > .head{
    padding: 1em;
    background: #000 linear-gradient(#555, #000);
    color: #fff;
}

body > .head .greater{
    color: #777;
}

body > .head h1{
    font-weight: normal;
    margin: 0;
    display: inline-block;
}

body > .head a{
    float: right;
    color: #fff;
    padding: 0.7em;
}

/* group */

body > div.group{
    background: #eee linear-gradient(#fff, #eee);
    padding: 1em;
}

body > div.group p.description{
    font-style: italic;
    color: #5e5e5e;
}

/* elements */

div.sliders > div{
    width: 15em;
    padding: 1em;
}

div.sliders > div h3{
    color: #000;
    font-weight: normal;
}

div.sliders > div p.message{
    margin-bottom: 0;
}

/* flow */

div.flow > div{
    vertical-align: top;
    display: inline-block;
}

/* storage-required */
body > div.storage-required {
    padding: 1em;
}

body > div.storage-required table {
    font-size: larger;
}

body > div.storage-required table thead tr > td + td{
    font-size: smaller;
}

body > div.storage-required table td{
    padding: 0.5em;
}

body > div.storage-required table tr > td + td{
    text-align: right;
}

body > div.storage-required table tr + tr + tr + tr{
    font-size: larger;
    font-weight: bolder;
}

body > div.storage-required table tr + tr + tr + tr  > td + td > span {
/*    background-color: #57ff00;
    border-radius: 0.5em;
    padding: 0.3em;*/
}

/* storage-configuration */
body > div.storage-configuration {
    padding: 1em;
}

body > div.storage-configuration table {
    font-size: larger;
}

body > div.storage-configuration table tr > *{
    padding: 0.5em;
    text-align: left;
}

/* physical-storage */

body > div.physical-storage div.options > div {
    padding: 1em;
}

body > div.physical-storage table {
    font-size: larger;
}

body > div.physical-storage table thead tr > td + td{
    font-size: smaller;
}

body > div.physical-storage table td{
    padding: 0.5em;
}

body > div.physical-storage table tr > td + td{
    text-align: right;
}

body > div.physical-storage .gb-pricing input[type='text'] {
  width: 3em;
}

/* config-files */

body > div.config-files div.file{
    display: inline-block;
    vertical-align: top;
    padding-right: 2em;
}

body > div.config-files div.file > pre{
    font-size: larger;
}

body > div.config-files div.file > pre .important-conf-value{
    font-weight: bolder;
}

/* retention bar */

.itunes{
    padding-left: 1em;
}

.itunes h3{
    color: #000;
    font-weight: normal;
}

.itunes .info{
    float: right;
    height: 2.5em;
    padding-left: 1em;
    display: table;
}

.itunes .info p{
    vertical-align: middle;
    display: table-cell;
}

.itunes .bar-container{
    display: inline-block;
}

.itunes .bar-container .bar{
    color: #fff;
    height: 2em;
    display: inline-block;
    width: 30em;
    margin: 0 auto;
    border: 1px solid #515862;
    border-top-color: #232a32;
    border-bottom-color: #6a7179;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #c2c5d6;
    -moz-box-shadow: 0 1px 0 #c2c5d6;
    box-shadow: 0 1px 0 #c2c5d6;
    background: #67707F; /* old browsers */
    background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0)); /* webkit */
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.itunes .bar-container .legend{
    height: 2em;
    display: block;
    padding-top: 1em;
}

.itunes .bar-container .legend > div {
    list-style: none;
    display: inline;
    float: left;
    text-align: left;
    margin-right: 12px;
}

.itunes .bar-container .legend > div > span {
    border: 1px solid #515862;
    border-top-color: #232a32;
    border-bottom-color: #6a7179;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #c2c5d6,inset 0 1px 2px RGBA(0,0,0,0.5);
    -moz-box-shadow: 0 1px 0 #c2c5d6,inset 0 1px 2px RGBA(0,0,0,0.5);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
}

.itunes .bar-container .legend > div > span.home {
    background: #a5d686;
}

.itunes .bar-container .legend > div > span.cold {
    background: #acd8f6;
}
.itunes .bar-container .legend > div > span.frozen {
    background: #d5d7d6;
}

.itunes .bar-container .bar .inner {
    -webkit-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
    -moz-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
    display: block;
    width: 110%;
    height: 100%;
    z-index: 999999;
    position: absolute;
    left: -10px;
}

.itunes > .bar-container > .bar > .home {
    background: #a5d686;
    display: inline-block;
    height: 100%;
    width: 20%;
    z-index: -3;
    position: relative;
    float: left;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.itunes > .bar-container > .bar > .cold {
    background: #acd8f6;
    display: inline-block;
    height: 100%;
    width: 20%;
    z-index: -3;
    position: relative;
    float: left;
}

.itunes > .bar-container > .bar > .frozen {
    background: #d5d7d6;
    display: inline-block;
    height: 100%;
    width: 60%;
    z-index: -3;
    position: relative;
    float: left;
}
